[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
tensorflow-hub = "*"
djangorestframework = "*"
pillow = "*"
matplotlib = "*"
django-crispy-forms = "*"
rdflib = "*"
sparqlwrapper = "*"
oxrdflib = "*"

[dev-packages]

[requires]
python_version = "3.8"
